[2015-04-21 08:16] anupsaund opened #1 "Object limit of 4 is too restrictive in the Free version"
I have had some feedback to say that the free version is too restrictive with only 4 objects so I have decided to revise the number to;

20 Tables
10 Stored Procedures
10 Views
10 Functions

This is tagged for the next release.

[2015-04-23 15:28] rbeck1947 opened #2 "no databases were found in the source control path"
After a longish period of initially reading the database, with one .NET crash, i was able to view four tables and four stored procedures.  I expected to see all the stored procedures but only able to select four of them.

When i select one or more stored procedures, i could not click "export" and if i pressed run, after the warning message, i see this:  No Databases were found in the source contro

[2015-04-24 04:20] anupsaund commented on #2
Thank you for the feedback.

I had the same feedback regarding the 4 objects restrictions from several people.

The free product is currently limited to 4 objects, issue #1 has been raised to change the table limit to 20 and stored procedure limit to 10.

The 'No Databases were found in the source control path...' is shown when an import is performed.

Try unchecking the Import new check box on sc

[2015-04-24 13:59] rbeck1947 commented on #2
Mr. Saund

Bingo!  (although i don't really understand now what 'Import New' does.)
 The stored procedures come over nicely into the newly created DB folder.

I don't have an issue with 'only four' since you probably want me to try it
out and buy the full version, however i would be happier if i saw all the
usps and could pick which ones i wanted to put into source control, up to a
maximum of four

[2015-04-28 13:01] rbeck1947 commented on #2
​
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

*************\* Exception Text **************
Microsoft.SqlServer.Management.Common.ExecutionFailureException: An
exception occurred while executing a Transact-SQL statement or batch. --->
System.Data.SqlClient.SqlException: Timeout expired.  The timeout period
elapsed prior to completio

[2015-04-28 13:16] anupsaund commented on #2
Hi Richard,

Thank you for the debug report.
It looks like fetching the objects from the database is timing out.

I will have to increase the timeout period to prevent the crash.

Timeout to be implemented...
_https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlcommand.commandtimeout.aspx_

[2015-04-30 15:59] anupsaund commented on #2
Added to release v 1.0.1

[2015-04-30 15:59] #2 closed, assigned to nobody

[2015-04-30 16:00] anupsaund commented on #1
Added to release v 1.0.1

[2015-04-30 16:00] #1 closed, assigned to anupsaund

[2015-05-15 08:30] anupsaund opened #3 "Command Line Options"
### Command Line Options

This is for the licensed version.

Usage example to follow...

[2015-05-18 12:28] B4PJS opened #4 "Sequences"
Please can you add sequences to this tool?

[2015-05-18 12:29] B4PJS opened #5 "Ignore Options"
Please can you add an ignore option for sequences during deployment to ignore that start at value?

[2015-05-19 08:58] anupsaund commented on #4
Yes sure - I can add that in for you...

![11011608_10152803437806765_268725812104485701_n](https://cloud.githubusercontent.com/assets/6728822/7699056/3d7cf39c-fe0d-11e4-984c-c7aed1e95ea4.jpg)

I need to add some extra checks into the code base to only discover sequences if SQL Server 2012 or above is installed.

Are there any other objects that you would like discovering/scripting?

For example -

[2015-07-23 15:55] douglas-hirsh opened #6 "Importing into Existing Database SQL Server 2014"
I am having a problem getting import to work. I am using the localdb v12.0.2000 (SQL Server 2014) that comes with VS 2015. Export works just fine.
I exported 4 tables and 4 procedures. Then I created a new database and went through the steps for importing. And nothing showed up but I didn't get any errors either. So I started SQL server profiler to watch the traffic. I saw the if exist drop script

[2015-07-23 19:41] anupsaund commented on #6
![structure](https://cloud.githubusercontent.com/assets/6728822/8860251/7b558170-317a-11e5-87a4-d760015941ab.PNG)

Tested on;

### Windows Server 2012 - with SQL Server 2014 Standard Edition.

This is a BUG because importing objects into an existing database does not work on SQL Server 2014.
This is equally true if you are wanting to update an object from source control that already exists in the

[2015-08-06 21:42] anupsaund commented on #6
## BUG 1 details

An export was creating a directory structure with a plural object name. i.e. Tables, Views.
Whereas the import was trying to read Table, View as part of the path.

This was causing an import to fail.

## BUG 2 details

The pre-drop of a table during an import was failing due to parentheses which SQL Server could not parse. The parentheses have been removed.

Both fixes are to be

[2015-08-06 21:42] #6 closed, assigned to anupsaund

[2015-08-13 20:55] anupsaund commented on #4
Sequences added as an object type for SQL Server 2012 and above.

[2015-08-13 20:55] #4 closed, assigned to anupsaund

[2015-08-14 20:45] anupsaund commented on #5
I'm thinking about adding this to a command line argument - see issue #3 for CLI enhancement.

The plan would to offer an Replace option which takes a filename as a parameter.

The file contents would then have;

line 1 - "string to find"
line 2 - "replace string"

Then it would be possible to replace a string with a blank line.

i.e.

line 1 "replace this line with nothing"
line 2 ""
line 3 "some

[2015-09-18 12:41] anupsaund opened #7 "Add "Triggers" as an object type to import/export."
Add Table Triggers as an object type to discover as part of the import/export in the GUI.

This is a trivial omission to the product so it will be included in the next release.

[2015-10-22 18:02] fergfamster opened #8 "Installer files Corrupt"
The downloaded installer from the site is getting corrupt files. Screen attached. this is a windows 8.1 pro N.

Thanks!
![error](https://cloud.githubusercontent.com/assets/709693/10673744/b1f6c690-78b4-11e5-87ec-10bbb9489235.png)

[2015-10-23 08:12] anupsaund commented on #8
![testing](https://cloud.githubusercontent.com/assets/6728822/10687599/219bb0bc-7966-11e5-9539-44fd116c68f4.PNG)

[2015-10-23 08:16] anupsaund commented on #8
Try temporarily disabling any resident anti-spyware/virus software before downloading.

Check your browser plugins for anything that may be blocking the download.

[2015-11-13 15:19] #8 closed, assigned to nobody

[2015-12-11 20:23] anupsaund opened #9 "Database discovery for Import is pluralizing the paths with an extra s"
## Issue Overview

An import from files is failing because the paths are being appended with an extra s.
For example... Tabless, Viewss, StoredProceduress

This meant an empty database was being created.

[2015-12-11 20:25] anupsaund commented on #9
Note : This only effects imports that are done when selecting "Import New", where no database has been selected from the drop down, on screen 2.

[2015-12-12 10:05] anupsaund commented on #9
Fixed in version 1.2.1

[2015-12-12 10:05] #9 closed, assigned to anupsaund

[2015-12-13 12:53] brillox opened #10 "default database drop-down value"
can I suggest that when in the software a user land on the window as per my screenshot below, it would be better that the drop-down with the database list would be either pre-populated with an item "please choose" so that the user can choose a database which trigger the object list. At the moment is pre-populated with the first database in the list but the object list does not refresh; therefore I

[2016-02-03 19:10] bohnetn opened #11 "Only System Databases appear in Select Database dropdown"
I just sent this to your support email, but it bounced back :(

I have a SQLEXPRESS 2012 install (ver. 11.5058) on my local machine that I can connect to with the gitSQL tool, but am only able to see the System databases on the second screen, ‘Select Database’.
I am unable to see the local databases that I have created to put into your source control tool.  Using Windows Authentication.

**Sorry,

[2016-02-04 20:48] bohnetn commented on #11
Closed

[2016-02-04 20:48] #11 closed, assigned to nobody

[2016-02-04 21:27] anupsaund commented on #11
Hi Bohnetn,

Thanks for getting in touch via github.

We are sorry about the support email glitch.

We changed our email MX entry and it took some time to propagate. Feel free to drop us any new queries to the support email.

This ticket was worthwhile for us because it triggered a new test machine build of SQL Server 2012 Express SP2.

Thanks again for logging the query.

[2016-02-05 03:46] bohnetn commented on #11
Thanks for getting back to me.

I closed the issue.  My oversight - read your instructions again and
realized I had to leave the Instance field blank if SQL Express is on the
same local machine.

So far so good otherwise. ..

Nick
Sent from my Android phone
On Feb 4, 2016 2:27 PM, "Anup Saund" notifications@github.com wrote:

[2016-02-15 21:25] jamesdecourcy opened #12 "SQL on Azure"
Does GitSQL work with an SQL DB on Azure?

I seem to be able to connect but the drop down where i select the database in step 2 is blank.

[2016-02-15 21:39] anupsaund commented on #12
It may work if the database is created via gitsql import... Vs. Exporting from Azure where the DB has been created using the portal.

The tablespace is different in each case.

Which db tier are you using?

We can test it under the debugger?

[2016-02-15 22:44] jamesdecourcy commented on #12
The DB was made using the portal and its on a Standard S0 tier

[2016-03-27 16:48] anupsaund commented on #3
Development in progress.

Options File example to follow;

![command line options](https://cloud.githubusercontent.com/assets/6728822/14066541/0b62b5f8-f444-11e5-88c4-44c690124b9e.PNG)

[2016-03-27 17:20] anupsaund commented on #10
![capture](https://cloud.githubusercontent.com/assets/6728822/14066688/67f610cc-f448-11e5-98c5-3e4a60d6dbfb.PNG)

Label changed to "Database"

First option in the list is now, "Please Choose".

Selecting "Please Choose" has no UI change,

@brillox  - Thanks for the great suggestion!

This is marked for the next release - which will be out once the CLI enhancement is complete.

[2016-03-27 17:53] anupsaund commented on #7
Table triggers are associated as Table attributes in SQL Server.

I have therefore extended the Table export/import to include the Trigger statements.

As per screenshot below.
![triggers](https://cloud.githubusercontent.com/assets/6728822/14066841/354b45a2-f44d-11e5-8647-fd2fc5e88185.PNG)

For release with V 1.3

[2016-03-27 18:44] brillox commented on #10
thanks for the implementation!!  I will download the latest version.

[2016-03-27 18:44] #10 closed, assigned to anupsaund

[2016-04-26 16:41] jhewitt0 opened #13 "Download - Trojan"
Hi, I tried to download the installer and Norton anti-virus removes the file because it thinks it has a Trojan in the file. Can you verify that the installer is in fact clean and safe to use?

Thanks!

![image](https://cloud.githubusercontent.com/assets/4399383/14826514/0bcee23a-0b93-11e6-898b-fa15e536a976.png)

[2016-04-26 20:15] anupsaund commented on #13
Hi @jhewitt0 ,

Thanks for logging this issue - we had another report of it, via Kaspersky but put it down to a false positive.

I have looked in more detail, and scanned the installer using http://www.virustotal.com

The report comes back with the following;

https://www.virustotal.com/en/file/8f8511d8784143c889f5cc23b4ffac4ad9c886f218aa3f3ed475285cb15dc2fa/analysis/

6/56 Antivirus applications

[2016-04-26 20:26] anupsaund commented on #13
I have submitted the installer to Symantec for a false positive review.

![image](https://cloud.githubusercontent.com/assets/6728822/14833104/7f32d15c-0bf5-11e6-93aa-4e0f9b5bcff7.png)

I will try to submit to Avast and Qihoo-360 too...

[2016-04-26 20:31] anupsaund commented on #13
Submitted false positive to Kaspersky

[2016-04-26 20:31] anupsaund commented on #13
Submitted false positive to Avast

[2016-04-26 20:37] anupsaund commented on #13
Submitted false positive to 360 total security via https://www.360totalsecurity.com/en/suspicion/

[2016-04-27 07:46] anupsaund commented on #13
Response from Symantec

[code]

[2016-04-27 07:48] anupsaund commented on #13
Response from Kaspersky

[code]

[2016-04-27 08:04] anupsaund commented on #13
Response from Total 360.

[code]

Sounds a bit vague but I think it means it was a false positive.

[2016-04-27 09:15] anupsaund commented on #13
Response from Avast.

[code]

[2016-04-27 10:04] IOExceptional commented on #13
Great work @anupsaund, thanks for the clarification

[2016-04-27 15:11] jhewitt0 commented on #13
Thanks for all the work on checking this out. I'll give it another try and see if I can get it to download.

[2016-05-02 18:23] shuzer commented on #13
Wanted to give the free edition a whirl to see if it will meet my group's needs -- but our corporate Web Gateway (McAfee Web Gateway) is detecting this as a trojan as well and will not allow me to download it.

[2016-05-02 20:01] anupsaund commented on #13
Hi @shuzer,

I had a look to see how I would go about reporting a false positive to McAfee;

Details here;
https://kc.mcafee.com/corporate/index?page=content&id=KB62662&actp=null&viewlocale=en_US

I think I may not have enough information to submit the request :0(

Would you be able to get the installer whitelisted internally @work instead?

Sorry if it's a poor suggestion.

[2016-06-13 19:37] dsonnet opened #14 "FailedOperationException"
Hi

I encounter this error

Microsoft.SqlServer.Management.Smo.FailedOperationException: Script failed for StoredProcedure XXXXXXXX  ---> Microsoft.SqlServer.Management.Smo.PropertyCannotBeRetrievedException: Property TextHeader is not available for UserDefinedFunction 'YYYYYYY'. This property may not exist for this object, or may not be retrievable due to insufficient access rights.  The text is

[2016-06-13 19:44] anupsaund commented on #14
Hi @dsonnet - sorry you had this error.

Do you have the function declaration please?

I would like to run it under a debugger to see why it is failing.

[2016-07-22 17:37] dmTech04 opened #15 "Option to not include Dependencies"
It would be great to expose an option in the UI to enable\disable scripting dependencies for objects.  I am scripting all tables, stored procedures, etc.  And for each stored procedure, it scripts all tables and UDF it depends on, and their recursive dependencies as well.

I can see that being really useful, but since I am doing all objects, it ends up making things slower and adds to the file siz

[2016-07-23 08:44] anupsaund commented on #12
**Issue Overview**
gitSQL was unable to discover the Azure database list.

**Fix Details**
We made a change to the discovery method which now detects the databases over an azure connection.

**Additional Notes**

Database export required no additional code changes.
Database import required some work to pre-drop a database via the Import New option if it already exists.

Available in the next relea

[2016-07-23 08:47] anupsaund commented on #12
@jamesdecourcy

I have built a pre-release version available at http://www.gitsql.net/prerelease/setup.exe

[2016-07-24 18:56] anupsaund commented on #15
@dmTech04  Thank you for the great suggestion.

We have added a new "Options" item from the "Help" menu which shows a list of Export Options, as per screenshot below.

![newoptions](https://cloud.githubusercontent.com/assets/6728822/17085767/6d99924a-51d8-11e6-9e6e-13b849eb4db4.PNG)

This will be available in the next release. V 1.3

[2016-07-25 17:47] dmTech04 commented on #15
Awesome, that looks great!  Looking forward to it.  Thanks!

[2016-08-01 22:40] #15 closed, assigned to anupsaund

[2016-08-01 22:41] #7 closed, assigned to anupsaund

[2016-08-01 22:41] #12 closed, assigned to anupsaund

[2016-08-01 22:41] #13 closed, assigned to nobody

[2016-08-01 23:15] dmTech04 commented on #15
Hi Anup, I tried the v1.3 release and the option to not include dependencies works great!  It is so much faster to script our databases now!  :+1:   Thanks so much for adding this!

[2016-09-29 16:28] christinaforney opened #16 "Selecting parent checkbox does not cause all children to be selected"
When I select a parent level checkbox (e.g. Table, Stored Procedure, etc) I expect that all the children will also become selected. In our case, we want to select all stored procedures only.

However, when I select the parent 'Stored Procedure' checkbox, it does not automatically select all children, and I am required to go through and select all children.
![image](https://cloud.githubusercontent.

[2016-09-29 21:12] anupsaund commented on #16
Hi @christinaforney

This is a new bug, that crept into the code base a few builds ago.

The code to handle the check box (and child selections) is in place but we accidentally knocked out the event handler on the check boxes.

We have placed it back in, with the view to release a hot fix soon, via a minor revision.

[2016-09-29 21:36] christinaforney commented on #16
Awesome! Thanks for the update. Looking forward to the fix :)

[2016-09-30 18:47] christinaforney opened #17 "Importing New DB with only Stored Procedures does not update Stored Procedures in SQL Server"
I have a git repository of Stored Procedures only, and a SQL Server with Tables/Data and Stored Procedures. When I "Import New" Database from my git repository, I would expect that the Tables/Data are not touched, but all my Stored Procedures are dropped, and then imported from my git repo.

Currently, when I import new with this scenario, I am not seeing any changes to my Stored Procedures, nor t

[2016-09-30 18:51] christinaforney opened #18 "Importing individual stored procedures does not update SQL Server stored procedures"
When I select a database, and select a specific stored procedure, choosing 'Import' as my option, the process runs on the selected stored procedure, but I am not seeing the update come through to my SQL Server that has tables/data and stored procedures in it.

For example, updating an existing stored procedure to have the changes from my git repository. I have not tested to see if the import works

[2016-09-30 18:53] christinaforney opened #19 "Display connected server name and selected DB in UI"
Feature request: Would like to be able to see the server and DB I am currently working on somewhere at the top. This way I don't have to go all the way back to the first page of connection to see what I'm connected to (I often switch back and forth between test and production servers).

[2016-10-06 22:06] anupsaund commented on #17
**Updating Stored Procedures that already exist in a database**

Bug fix on #18 addresses this issue.

The workflow in this scenario would be to select the stored procedures on screen 2.
This would limit the import on screen 3 to those selections.

**Import New - why does it delete everything?**

We designed it to perform a search on the source control directory on screen 3.
The user is presented

[2016-10-06 22:08] anupsaund commented on #18
BUG found which was preventing a drop of the stored procedure which resulted in a silent failure of the import.

Fixed and scheduled for next minor release.

[2016-10-06 22:32] anupsaund commented on #19
**Feature details**

i) Select a database on screen 2, screen 3 shows the database name.

![capture](https://cloud.githubusercontent.com/assets/6728822/19172999/c00e0136-8c1c-11e6-9c0c-b58e31f6e63a.PNG)

ii) Select **Import New**  on screen 2, the narrative on screen 3 remains as _Object list_ until a database is discovered. The UI is then updated to show which database is being processed.

Schedu

[2016-10-07 18:44] #19 closed, assigned to anupsaund

[2016-10-07 18:44] #16 closed, assigned to anupsaund

[2016-10-07 18:45] #17 closed, assigned to anupsaund

[2016-10-12 16:03] jon49 opened #20 "Possible to Incrementally track data in database?"
The database I have is small and I need to track the incremental changes. I would prefer not to do full back ups every time. Is it possible to do incremental git changes programmatically?

Thanks!

[2016-10-14 07:09] anupsaund commented on #20
Hi Jon,

This is a fantastic idea!

We ran some tests to see how we would go about implementing this feature and we have come up with the following workflow that may work.

## Export
1. Record a date and time of the first full export e.g. `{ AdventureWorks2012 : 14/10/2016 09:00:00}`
2. Offer a button on the 2nd page, to _**Show changes since last update**_. (This button would be greyed out or hid

[2016-10-18 15:51] flippidippi commented on #20
This is something we would want also. And icing on the cake would be if we could automated this process at the end of each day to catch all changes. This would help us move away from using redgate DLM to gitsql.

[2016-10-18 23:14] jon49 commented on #20
Would there be a way to programmatically do the export? So, each day I could just run a script that does the export. Or even after I do an insert/update I send a command to sync with git. Then I could do a commit message too with whatever change was made.

I don't think I would need to do an incremental import. It might be nice but not necessary. The only time I would get the data back would be if

[2016-10-21 19:38] christinaforney commented on #19
Just getting around to reviewing - this correctly displays the database (very helpful!) but it doesn't show the server name. Would love to see that too!

[2016-10-21 19:54] christinaforney commented on #18
This will now drop the stored procedure, but does not import the one from the git repository, so now I'm left with no stored procedure instead of an updated one in my SQL server.

[2016-10-21 19:54] christinaforney commented on #17
Since this relies on #18, updating stored procedures will simply drop all, but will not actually import the ones from the git repository.

[2016-10-24 18:25] anupsaund commented on #20
Hi @jon49   and @flipxfx

We could add an option in as part of the #3 Command Line Options feature.
The option could then be used to automate the process via a scheduled job on windows scheduler.

As an example, one schedule in the morning, and one in the evening, with the ability to run it ad hoc during the day.

Thank you for the feedback, we would love to get this into the next release for you.

[2016-10-24 19:34] anupsaund commented on #18
Bug found and fixed - we need to perform some regression testing on associated areas of the workflow.

Scheduled for next release, although may come out sooner as a patch.

[2016-12-24 02:27] Jaxelr commented on #3
This looks awesome, any ETA on it?

[2017-02-10 03:14] fred-m opened #21 "Views not exporting"
My database has 84 views, only 68 of these were exported by gitsql.

All 84 showed up in the item select window.

Even when selecting a single one of the views that failed, nothing exports. I don't see any error message either.

It doesn't seem to be a permissions issue.

I'm happy to privately share the code of some of the missing views to see if there could be anything that is causing this

[2017-03-28 13:00] joshmorel opened #22 "Download - malicious website blocked"
Hello,

I got this warning from Trend Microscan when trying to download SQL Server edition.

http://gitsql.net/content/getfile.php?Down=1
Rating:	Dangerous.	Verified fraud page or threat source.
What You Can Do:
Contact your administrator about security settings on your network

Josh

[2017-03-28 14:11] mariascott commented on #22
Hi Josh,

Sorry to hear that the download was blocked.
We had a look at the trend micro website to see why it was being blocked.

https://global.sitesafety.trendmicro.com/result.php

It looks like download was being blocked because our website runs as secure https but the download link was unsecured, http.

We have changed the download link to be secured.

Please have another go at downloading the

[2017-03-28 20:01] joshmorel commented on #22
Works now thanks!

You'll need to change the GitHub README download links as well.

[2017-03-28 20:09] mariascott commented on #22
Thank you.

Readme updated.

[2017-03-28 20:09] #22 closed, assigned to nobody

[2017-09-19 13:33] sandeep0308 commented on #20
Hi All
I am looking for detail documentation on Gitsql source control to maintain the history of the database objects as and when updated/deleted. Do Gitsql have all the features of source control like TFS or red gate? I would like to know how the version numbers can be maintained using it? I would appreciate if someone throw some light on this? Thanks! Have a great day!

[2017-09-19 19:22] mariascott commented on #20
@sandeep0308 documentation can be found at https://gitsql.net/documentation#SQLServer

[2017-09-19 19:26] sandeep0308 commented on #20
Thank you! I went through this documentation and yet to get clarification on how to maintain the versions and history in a repository, which was missing in the documentation part. All I could notice is import and export of DB objects, but there is some link missing about how to view the previous changes and files that are updated earlier. Please suggest.

From: Maria Scott [mailto:notifications@gi

[2017-09-19 19:42] mariascott commented on #20
@sandeep0308 - I see what you mean...

It really depends on the source control software which is being used to how files are to be version controlled. gitSQL aims to deliver flat files of data and schema to the filesystem - to then be used by  version control software of choice to compare/merge conflicts/commit into source control.

What do you use for version control?

Perhaps we can look at putt

[2017-09-19 20:12] sandeep0308 commented on #20
I want to use Gitsql over Redgate, which is cost effective. I see a comparision chart in your website. But gitSql doesn’t maintain the history when I try doing import/export of Database objects.

https://gitsql.net/gitsql_vs_redgate

From: Maria Scott [mailto:notifications@github.com]
Sent: Tuesday, September 19, 2017 3:42 PM
To: gitsql/SQL-Server-Edition <SQL-Server-Edition@noreply.github.com>
Cc

[2017-11-26 22:49] #3 closed, assigned to davesinghs

[2017-11-26 22:49] #5 closed, assigned to jamesjburton

[2017-11-26 22:49] #18 closed, assigned to mariascott

[2017-11-26 22:51] mariascott commented on #21
Hi @fred-m

Sorry to hear that you are having trouble - would you be able to download the latest version 1.4.0 to see if the issue occurs on that version?

[2017-11-26 22:52] mariascott commented on #14
Hi @dsonnet -

Is this issue still occurring for you?

[2018-04-05 14:14] ericjuden opened #23 "Antivirus is blocking the download and install of gitsql"
Hi, this issue is similar to this one: https://github.com/gitsql/SQL-Server-Edition/issues/13

We use Cylance and it's blocking me from downloading and installing the app.

https://www.virustotal.com/en/file/72dc881f9fb92a2ed0096f5eea61a3bb98782bb0f8f96c5551fb35f02a14a4f2/analysis/

Thanks,

Eric

[2018-04-05 14:45] mariascott commented on #23
Hi @ericjuden ,

Thank you for getting in touch.
We have raised a false positive report with Cylance.

I will give you an update in due course.

[2018-04-05 14:47] ericjuden commented on #23
Thanks @mariascott. I'll keep an eye on this issue.

[2018-05-08 19:49] mariascott opened #24 "Show current version in UI"
This has been raised by one of our end users, where they were unable to find the current application version number in the UI.

Raising it here for open discussion as a feature request, to be included in the next release.

Should we create a "Help | About" page or something else?

[2018-05-10 17:01] edwardbrown opened #25 "System.IO.FileNotFoundException"
Just downloaded and installed gitSQL. After connecting to SQL Server, getting an error when trying to select a database.

[gitSQL error.txt](https://github.com/gitsql/SQL-Server-Edition/files/1992511/gitSQL.error.txt)

[2018-05-11 06:37] mariascott commented on #25
Thanks for getting in touch.

May I get some more information please?

OS Version
SQL Server Version

[2018-05-11 12:12] edwardbrown commented on #25
Thanks!
OS Version Windows 10 Enterprise Version 1607 OS Build 14393.2125
SQL Server 12.0.5546

[2018-05-13 18:58] mariascott commented on #25
The Issue has been found in the installer.

We are looking to release a new version this coming week to address the issue.

[2018-05-14 12:22] edwardbrown commented on #25
Wonderful, thank you!

[2018-05-14 22:28] mariascott opened #26 "Windows 10 update 1803 - Fails to check licence server"
This was reported by a gitSQL user and has been reproduced.

The issue has been caused by enhanced security which was introduced by Windows 10 update 1803.
A hot fix is to be released shortly to address the issue.

**How does the issue manifest?**

![capture](https://user-images.githubusercontent.com/23381132/40026719-6f835462-57ce-11e8-9c9a-f426fbccc093.PNG)

Entering a licence key will resolve t

[2018-05-14 22:40] jamesjburton commented on #26
Code refactored for enhanced security.

Ready for QA. 👍

[2018-05-14 22:44] jamesjburton commented on #25
The installer was installing gitSQL for SQL Server 2008?.. even though a newer version had been detected?!

Code refactored to install gitSQL against the correct SS ver.

Ready for QA. 👍

[2018-05-14 22:49] davesinghs commented on #26
Passed 💯

[2018-05-14 22:49] #26 closed, assigned to davesinghs

[2018-05-14 22:49] davesinghs commented on #25
Passed 💯

[2018-05-14 22:49] #25 closed, assigned to davesinghs

[2018-05-15 14:33] edwardbrown commented on #25
Wonderful! Thanks everybody.

[2018-08-10 09:54] dazman66 opened #27 "User-Defined Types - not exporting"
Within a number of production databases we use both User-Defined Data Types and User-Defined Table Types.

It looks like both of these entity types are not exported via the GitSQL application either via GUI or Command line options.

Can these options be added to the application.

[2018-10-31 17:57] fakherhalim opened #28 "Did not get the license KEY!"
**Purchaser: Mushtaq Merchant, email megaxml@tpgxml.com through PayPal:**

Paid $40 for SQL Server Licence, Receipt number 3828-7686-1645-8630 PayPal. yet no mail to purchaser ! Please help!

[2019-05-09 15:29] #28 closed, assigned to mariascott

[2019-05-09 15:31] mariascott commented on #23
@ericjuden - we had no feedback from Cylance regarding the false positive.

May I ask if you had any more issues since reporting this?

[2019-05-09 15:32] mariascott commented on #14
@dsonnet do let me know if this is still an issue.

[2019-05-09 15:32] #14 closed, assigned to nobody

[2019-05-09 19:15] ericjuden commented on #23
@mariascott, thanks for checking in. I just downloaded the setup file and attempted again. The installation process goes just fine. But the gitSQL.exe file is deleted before I can open the app. Attached is an image of what occurred immediately after the setup process.
![gitsql-error](https://user-images.githubusercontent.com/1031042/57480278-e1acb900-7264-11e9-9d3a-794d3f5d00da.png)

[2019-05-10 04:14] mariascott commented on #23
Thank you @ericjuden

I have submitted a new false positive report to them.

I guess it's a good sign that the installer completes. I have asked them to see if they can white list the executable.

[2019-05-17 02:43] mariascott opened #29 "Schema / Data Only options for CLI"
We have received several requests for Schema or Data only options for the CLI.

[2019-05-17 02:49] jamesjburton commented on #29
New option added to `opts.json` file named `exportMode` with two valid options of `schema` or `data`.

Example:

[code]

[2019-05-17 03:31] mariascott commented on #29
Released as part of v 1.4.4

[2019-05-17 03:31] #29 closed, assigned to mariascott

[2019-06-12 14:29] peteriburrows commented on #23
I am getting similar results from Windows Defender:
![image](https://user-images.githubusercontent.com/17571158/59359797-e9a9be00-8d26-11e9-9054-2b162b4fab84.png)

[2019-06-12 15:39] mariascott commented on #23
Thank you @peteriburrows

We have called in a security consultant to help and he has suggested we go down the code signing route to have our applications signed by a recognized authority.

Please bear with us whilst we re-package our applications.

All being well - we expect to be releasing signed versions for download by the end of July.

[2019-08-30 22:59] mariascott commented on #23
@peteriburrows @ericjuden - We have successfully signed SQL Server Edition today and released it or download.

We submitted the file to virus total and the results look quite promising so far.

https://www.virustotal.com/gui/file/e34cccc347011855f9c63fcb9d0c6a69d936eeea62250a58d32bb754a40c27d0/detection

Would you give the latest installer a go and let us know what the experience is like?

[2019-09-03 15:30] ericjuden commented on #23
@mariascott: I just downloaded version 1.4.5 (SQL Server edition) from your website and attempted to install. It was again quarantined.
![cylance-quarantine](https://user-images.githubusercontent.com/1031042/64187187-cbd78b00-ce35-11e9-8bb5-607cbe7ede05.png)

[2021-01-09 17:26] MikeYeager opened #30 "Tool runs VERY slowly."
I just downloaded a copy of the app to try, I connected to an Azure SQL database and attempted to export to a local folder (restricted number of objects). The UI was VERY slow, but it did finish eventually (something like 20 minutes). I started the app and try it again against a local DB and it's plenty fast. Just wondering if anyone else has had this experience. I'm on the latest update of Window

[2021-01-09 17:49] mariascott commented on #30
Hi Mike,

Sorry to hear it was so slow.
20 minutes does indeed sound too long.

We have a few questions.

1) How big is the export folder?
2) Which instance type of Azure SQL?
- Basic
- Standard
- Premium
- DataWarehouse
- Free
- Stretch
- GeneralPurpose
- BusinessCritical

3) What type of authentication was used on connection? 1st screen of gitSQL.

We would like to run a like for like test to se

[2021-01-09 18:06] MikeYeager commented on #30
Thanks for the quick response.

1. The export folder is 1.8MB.
2. SQL Azure instance is General Purpose: Gen 5, 4 vCores.
3. SQL Authentication was used.

[2021-06-03 00:13] m3techitopsadmin opened #31 "Bug after selecting DB"
Hi getting this error when selecting DB for gitSQL first time setup after successful test connection with DB:
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

[code]

[2021-06-05 02:49] mariascott commented on #31
Hi @m3techitopsadmin

Sorry to hear this happened.

gitSQL SQL Server edition relies on the Server Management Objects (SMO) library to be installed on the computer running gitSQL.

The Microsoft SQL Server installation steps have an option to install SMO.

Would you try installing the additional package to see if that works for you?

[2021-06-06 00:03] m3techitopsadmin commented on #31
Please see this:
https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/installing-smo?view=sql-server-ver15
From SSMS 2017 onwards this is supposed to be part of the application that uses it as a dependency.
I tried to find an older installation online but no luck

[2021-08-22 04:47] setareiesabz opened #32 "can't import to sqlserver"
hi
I exported the schema from my database. After that, I changed a table and added a column for a test. I want to import the exported files to the database and remove all changed.
I imported that and finished importing without error, but my changes were not removed.
What happened? Why my changes not been removed?
best wishes

[2021-08-22 15:47] setareiesabz opened #33 "free PostgreSQL Editio, didn't work correctly"
hi
I installed free PostgreSQL Edition and want to export the schema from my database for a test. After press, the button didn't finish the progressing.
I have pgsql 10.
what didn't work correctly?
best wishes

[2022-01-27 19:57] gprieck commented on #31
I am having the same issue.  I have been running gitSQL on a Windows 10 Professional computer machine for several years.  That computer had Microsoft SQL Server Management Studio 2017 which uses the the 14.0 versions of the SMO.

I unlinked our license and moved it to a new computer running Windows 10 Enterprise
I installed SSMS 2018
Same error when I pick the database
I installed SSMS 2017, think

[2022-01-28 03:35] mariascott commented on #31
@m3techitopsadmin & @gprieck

We're sorry to hear this issue has manifest.
We will build a like for like environment based upon @gprieck's write up and aim to reproduce the issue.

Once we catch the error on our side we'll be sure to find a fix.

Stay tuned for a follow up in due course.

[2022-01-28 03:43] mariascott commented on #32
Hi @setareiesabz,

To confirm the steps.

1. Export database.
2. Created a new column in the database?
3. Import database.
4. The new column still exists, but should have been overwritten by the import?

May I ask what version of windows this is on?
What version of MS SQL Server is gitSQL connecting to?

[2022-01-28 03:45] mariascott commented on #33
Hi @setareiesabz - sorry to hear that this didn't work out for you.

Would you try exporting a database that has 1 table in it?
Does that export OK?

[2022-01-29 04:17] gprieck commented on #31
@m3techitopsadmin & @mariascott

I have some updates on trying to get this working.
I installed Visual Studio 2017 because the machine that I previously had gitSQL running on also had Visual Studio 2017 installed.  That did not fix the problem

Per your previous suggestion to m3techitopsadmin "The Microsoft SQL Server installation steps have an option to install SMO", I downloaded the SQL Server 2

[2022-02-08 10:41] dazman66 commented on #27
Hi Maria,

Its been over 3 years, any news on this enhancement ?

If not; it really should be shown as a key lack of functionality within your [gitSQL vs Redgate](https://gitsql.net/gitsql_vs_redgate) web page.

Is there any ongoing development on the gitSQL package ?, as the latest available download as of now v1.4.6 is now over 2 years old, if you are not actively developing it any further, then

[2022-02-11 00:41] mariascott commented on #27
@dazman66 - we have built this into the next version, due for release within the next 7 days.

[2022-02-11 20:11] mariascott commented on #27
@dazman66 - We've released this feature in 1.4.7.

Let us know how it goes.

[2022-02-11 20:16] mariascott commented on #23
We've improved the code signing on our latest version - 1.4.7 which has been analyzed over at https://www.virustotal.com/gui/file/f04cbf3e7eb06da781465c20743937302fbb8e8e0fac9852e90310751843609f/detection

We're hoping these incremental improvements reduce to eliminate these false positives.

[2022-02-11 22:45] gprieck commented on #31
Is this fixed in the new release?

[2022-02-11 23:24] mariascott commented on #31
@gprieck  - We are still working on debugging this issue.

[2022-03-06 09:56] ksabers commented on #31
I am experiencing the same issue with a fresh installation of SQL Server 2019 Developer Edition.

[2022-03-11 13:23] ksabers commented on #31
@mariascott Do you have any news on this blocking bug, please?

[2022-03-14 16:35] dazman66 commented on #27
Hi Maria, that works just dandy, many thanks.

[2022-04-13 07:03] ksabers commented on #31
@mariascott Hi! Could you please update us about the resolution of this bug? It is blocking and does not allow importing data. Thanks!

[2022-04-13 20:55] mariascott commented on #31
Which version of SQL Server are you both connecting to?

Running the following command in SSMS should give the answer:

SELECT @@version

[2022-04-13 22:07] gprieck commented on #31
@mariascott
Microsoft SQL Server 2016 (SP1-CU15-GDR) (KB4505221) - 13.0.4604.0 (X64)   Jun 15 2019 07:56:34   Copyright (c) Microsoft Corporation  Standard Edition (64-bit) on Windows Server 2016 Datacenter 10.0 <X64> (Build 14393: ) (Hypervisor)

[2022-04-14 07:40] ksabers commented on #31
Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)   Sep 24 2019 13:48:23   Copyright (C) 2019 Microsoft Corporation  Developer Edition (64-bit) on Windows 10 Enterprise 10.0 <X64> (Build 19043: )

Installation is fresh on a new Windows 10 machine (only Visual Studio, VS Code and SQL Server installed).

[2022-04-28 16:08] vg opened #34 "Cron or Task schedule export of schema periodically."
Is it possible to schedule a daily export of database schema using task scheduler and automatically commit changes to a git repo?

[2022-04-29 04:14] jamesjburton commented on #34
@vg - yes.

Here's an example on how to create a batch file to perform the export - https://github.com/gitsql/cli-gitsql-sqlserver/blob/master/Export.bat#L1

Execution of the batch file can be scheduled via Task Scheduker.

For automatic commit to git - assuming you've checked out a repository using SSH keys and it's on the branch you wish to commit to - then something like the following can be ad

[2022-05-01 13:30] vg opened #35 "Error when exporting Northwind database."
Getting the following error when exporting [Northwind](https://github.com/microsoft/sql-server-samples/blob/master/samples/databases/northwind-pubs/instnwnd.sql) sample database provided by Microsoft into a freshly installed SQL Server 2019 Developer instance on Windows Server 2022 Datacenter.

Tried exporting [Pubs](https://github.com/microsoft/sql-server-samples/blob/master/samples/databases/nor

[2022-05-03 13:43] ksabers commented on #31
@mariascott Any news? This bug has been here from almost one year now and it totally blocks the use of the application.

[2022-05-12 07:43] #27 closed, assigned to mariascott

[2022-05-12 07:43] #21 closed, assigned to mariascott

[2022-05-12 07:43] #23 closed, assigned to nobody

[2022-05-12 07:48] mariascott commented on #31
@ksabers - We've been unsuccessful at reproducing the issue.

We believe there is a genuine issue here with gitSQL not being able to figure out which SMO dlls to use - but until we reproduce the issue we're quite stuck ourselves.

Our recommendation would be to re-install SQL Server (full edition) on the same computer that is running gitSQL -
If that doesn't fix the issue then please take a look a

[2022-05-12 07:49] #32 closed, assigned to mariascott

[2022-05-12 07:49] #33 closed, assigned to mariascott

[2022-05-12 07:50] mariascott commented on #35
@vg  - try following this article to install SMO

https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/installing-smo?view=sql-server-ver15

[2022-05-13 04:33] setareiesabz commented on #32
Your're right. Windows 10 and MSSql 2014.

[2022-06-16 08:47] ksabers opened #36 "During import, one of the tables is empty"
I have a database with 15 tables. I have performed an export with data and GitSQL has correctly created 15 SQL and 15 DAT files.

When I later try to import the database on another machine, the following happens:

- The 15 tables are correctly created
- but **only 14 of them** are filled with data: one of them (**dbo.Voli**) is empty.

I suspect that there is an issue with a field in the empty tab

[2022-07-05 07:28] ksabers commented on #36
No feedback about this one?

[2022-07-19 13:24] johnpauljones77 opened #37 "Exception (without UI) when running program"
When I run gitSQL nothing happens. No UI is every displayed.

Looking in Windows Event Viewer I can see a _.NET Runtime_ error has been logged:
[code]

There is also an _Application Error_ with the same timestamp as the above error:
[code]

I'm using **Windows 10 Pro** (21H2 / 19044.1826) with **Microsoft SQL Server 2019 Developer** (64-bit) installed.

[2022-08-06 21:03] ksabers commented on #36
Hello? Not even a word?

[2022-08-16 15:23] johnpauljones77 commented on #37
Any thoughts on this @mariascott or @jamesjburton ?

I'm keen to use gitSQL

[2022-09-07 15:42] ksabers commented on #36
Is the project totally abandoned?

[2022-09-07 16:01] mariascott commented on #36
@ksabers forgive the delayed response.

We prioritize these types of queries to subscribed users.
If you do have a subscription, please email support@gitsql.net for dedicated assistance.

We will run the database files through our test harness and get back to you with some results.

[2022-09-07 16:05] mariascott commented on #37
@johnpauljones77 have you tried launching gitSQL as an administrator?

The elevated permissions may let you in.
Let us know.

[2022-11-04 09:09] ksabers commented on #36
Have you tried the database files?

[2022-11-29 15:00] johnpauljones77 commented on #37
Sadly, it didn't make any difference. No UI is ever displayed.